/*feedback form*/
.feedbackSection {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.feedback {
    margin-top: 100px;
    width: 1210px;
    background-color: #ECEBEE;
    box-sizing: border-box;
    padding: 74px 107px;
    position: relative;
    overflow: hidden;
}
.feedback img {
    position: absolute;
    right: -35px;
    top: 36px;
}
.formTitle {
    font-family: 'foundry-boldita';
    font-size: 33px;
    margin-bottom: 10px;
    color: #2B1A51;
}
.formPS {
    font-family: 'gilroy';
    font-size: 15px;
    color: #2B1A51;
    line-height: 23px;
}
.formPS:last-child { margin-top: 10px;}
.messageForms {
    height: 369px;
    margin-top: 56px;
    margin-bottom: 84px;
    display: flex;
    justify-content: space-between;
}
.userInfoForm { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 386px;
    height: 369px;
}
.userData {
    font-family: 'gilroy';
    font-size: 15px;
    color: #2B1A51;
    margin-bottom: 6px;
}
.userDataInput, .messageForm textarea {
    width: 100%;
    height: 45px;
    border: 0;
    box-sizing: border-box;
    padding: 0px 22px;
    margin-bottom: 26px;
    margin-top: 0;
    font-family: 'gilroy';
    font-size: 13px;
    outline: none;
}
.userDataInput:last-child, .messageForm textarea { margin-bottom: 0; }
.messageForm textarea {
    height: 246px;
    padding: 20px 22px;
    resize: none;
    margin-bottom: 26px;
}
.toSend button {
    background-color:#F46628;
    height: 55px;
    width: 180px;
    border: none;
    color: #fff;
    font-family: 'gilroy';
    font-size: 15px;
    margin-right: 26px;
    cursor: pointer;
}
.agreesment {
    font-family: 'gilroy';
    line-height: 18px;
    margin-left: 14px;
    font-size: 13px;
    color: #A6A6A6;
}
.agree {
    -webkit-appearance: none;
    margin-top: 10px;
	background-color: #fff;
	border: none;
    height: 18px;
    width: 18px;
	border-radius: 0px;
    margin: 0px 0px;
    margin-bottom: -4px;
    cursor: pointer;
}
.agree:checked::after {
    margin-bottom: -20px;
    content:"\2713";
    font-size: 14px;
    position: relative;
    top: 0px;
    left: 3px;
    color: #F46628;
}