.bannerSection {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 346px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #fff;
}
.contacts {
    position: absolute;
    width: 1210px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 78px;
    padding-bottom: 78px;
    border-image-outset: 150px;
    z-index: 1;
}
.contacts img {
    position: relative;
    top: -140px;
}
.title {
    font-family: 'foundry-boldita';
    font-size: 43px;
    line-height: 51.6px;
    color: #2B1A51;
}
.subTitle {
    font-family: 'foundry-boldita';
    font-size: 160px;
    color: #F6F6F6;
    position: absolute;
    right: 0;
    bottom: -48px;
}
.partnersSection {
    width: 100%;
    display: flex;
    justify-content: center;
}
.partners { width: 1210px; }
.partnersTitle {
    font-family: 'foundry-boldita';
    font-size: 33px;
    color: #2B1A51;
}
.partnersList {
    margin: 40px 0px;
    display: grid;
    grid-template-columns: repeat(4, 273px);
    column-gap: 39.3px;
    row-gap: 26px;
}
.partnerItem, .partnerItemShort {
    box-sizing: border-box;
    padding: 27px 23px 38px 34px;
    background-color: #fff;
}
.partnerName {
    font-family: 'gilroy';
    font-size: 19px;
    color: #2B1A51;
    line-height: 38px;
}
.partnerAddress {
    margin-top: 23px;
    display: flex;
    align-items: start;
}
.partnerAddress p, .partnerSite a, .partnerPhone p {
    margin-left: 18px;
    font-family: 'gilroy';
    font-size: 13px;
    color: #2B1A51;
}
.partnerSite, .partnerPhone {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.partnerSite a { text-decoration: none; }
.showMorePartners {
    background: none;
    border: none;
    font-family: 'gilroy';
    font-size: 17px;
    color: #F46628;
}
.partnerItem .partnerInfo {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.partnerItemShort .partnerInfo {
    box-sizing: border-box;
    height: 160px;
}